{% extends 'layout.html' %}

{% block title %}Fulfill Request{% endblock %}

{% block content %}
<h2 class='container'>
  <div class='align-left'>
    Fulfill Request
  </div>
  <div class='align-right'>
    <a href="{{ url_for('event') }}">Add Event</a>
    <a href="{{ url_for('eventRemove') }}">Remove Event</a>
    <a href="{{ url_for('requestMake') }}">Make Request</a>
    <a href="{{ url_for('viewRequests') }}">View Requests</a>
  </div>
</h2>
<p>Fill out the form to cover an event.</p>
<div class = "fulfill">
	<form action="{{ url_for('fulfill') }}" method="post" autocomplete="off">
    <input type="text" name="otherFirstName" placeholder="Requestor First Name" id="otherFirstName" required>
    <input type="text" name="otherLastName" placeholder="Requestor Last Name" id="otherLastName" required>
		<input type="text" name="eventName" placeholder="Event Name" id="eventName" required>
		<input type="text" name="startDate" placeholder="Start Date" id="startDate" required>
		<div class="msg">{{ msg }}</div>
		<input type="submit" value="Fulfill">
	</form>
</div>
<div align='center'>
  <a href="{{ url_for('prevReq') }}">Prev</a>
  <a href="{{ url_for('nextReq') }}">Next</a>
  <img src="{{ url_for('figReq') }}" alt="Current calendars." width="700" height="350">
</div>
{% endblock %}
