{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class='container'>
  <div class='align-left'>
    Home Page
  </div>
  <div class='align-right'>
    <a href="{{ url_for('event') }}"><i class="fas"></i>Add Event</a>
    <a href="{{ url_for('eventRemove') }}"><i class="fas"></i>Remove Event</a>
    <a href="{{ url_for('requestMake') }}"><i class="fas"></i>Make Request</a>
    <a href="{{ url_for('viewRequests') }}"><i class="fas"></i>View Requests</a>
  </div>
</h2>
<p>Welcome back, {{ firstName }}!</p>
<div align='center'>
  <a href="{{ url_for('prev') }}">Prev</a>
  <a href="{{ url_for('next') }}">Next</a>
  <img src="{{ url_for('fig') }}" alt="Generating calendar . . ." width="700" height="350">
</div>
<div align='center'>
  <img src="{{ url_for('table') }}" alt="You have no Debt!!" class="tablehome">
</div>
{% endblock %}
