{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class='container'>
  <div class='align-left'>
    Home Page
  </div>
  <div class='align-right'>
    <a href="{{ url_for('event') }}">Add Event</a>
    <a href="{{ url_for('eventRemove') }}">Remove Event</a>
    <a href="{{ url_for('requestMake') }}">Make Request</a>
    <a href="{{ url_for('viewRequests') }}">View Requests</a>
  </div>
</h2>
<p>Welcome back, {{ firstName }}!</p>
<div align='center'>
  <a href="{{ url_for('prev') }}">Prev</a>
  <a href="{{ url_for('next') }}">Next</a>
  <img src="{{ url_for('fig') }}" alt="Current calendar." width="700" height="350">
</div>
<div align='center'>
  <img src="{{ url_for('table') }}" alt="You have no Debt!!" class="table">
</div>
{% endblock %}
