{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>
  Home Page
  <a href="{{ url_for('event') }}">Add Event</a>
  <a href="{{ url_for('event_rm') }}">Remove Event</a>
  <a href="{{ url_for('request_mk') }}">Make Request</a>
</h2>
<p>Welcome back, {{ username }}!</p>
<div>
  <a href="{{ url_for('prev') }}">Prev</a>
  <a href="{{ url_for('next') }}">Next</a>
  <img src="{{ url_for('fig') }}" alt="Current calendar." width="700" height="350">
</div>
{% endblock %}
