{% extends 'layout.html' %}

{% block title %}View Requests{% endblock %}

{% block content %}
<h2 class='container'>
  <div class='align-left'>
    View Requests
  </div>
  <div class='align-right'>
	<a href="{{ url_for('event') }}">Add Event</a>
    <a href="{{ url_for('eventRemove') }}">Remove Event</a>
    <a href="{{ url_for('requestMake') }}">Make Request</a>
    <a href="{{ url_for('fulfill') }}">Fulfill</a>
  </div>
</h2>
<p>All currently active requests are shown with your schedule and in the table below.</p>
<div align='center'>
  <a href="{{ url_for('prevReq') }}">Prev</a>
  <a href="{{ url_for('nextReq') }}">Next</a>
  <img src="{{ url_for('figReq') }}" alt="Current calendars." width="700" height="350">
</div>
<div align='center'>
  <img src="{{ url_for('tableReq') }}" alt="There are no requests" class="tableReq">
</div>
{% endblock %}
